html, body {
  margin: 0;
  background: #ffebb8;
  font-family: "Yu Gothic Medium","YuGothic Medium", YuGothic, "Yu Gothic","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
  min-width: 900px;
}

#header {
  margin: 2rem 0 0rem;
  text-align: center;
}
.face {
  width: 50%;
}

#main {
  text-align: center;
  color: #502516;
  padding: 0 2rem;
}
.big-news {
  background: white;
  width: 60%;
  padding: 2rem;
  margin: 1rem auto 3rem;
  border-radius: 100px;
}
.locations {
  display: flex;
  text-align: left;
  margin: 1rem 0;
}
.locations > * {
  flex: 1 0;
  margin: 0 1rem;
  background: white;
}
.locations h2 {
  font-size: 1.2rem;
  margin: 1rem;
}
.locations h2 small {
  display: block;
}
.locations .map {
  width: 100%;
  height: 500px;
}
#main article {
  margin: 4rem 0;
}

#main .event-notice {
  border: 2px solid #000;
}

#main .cfp {
  margin-right: -2rem;
  margin-left: -2rem;
  background: #fff;
  padding: 2rem;
}

#footer {
  background: #73533b;
  color: white;
  padding: 3rem;
  text-align: center;
}

#footer .old {
  margin: 1rem 0;
}
#footer .old a {
  color: white;
  margin: 0 1rem;
}

.button {
  display: block;
  text-decoration: none;
  background: #e87e73;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px
  ;
}
.button:hover {
  background: #c82e53;
}

.conference-content {
  display: flex;
  justify-content: space-between;
}

.conference-content > div {
  text-align: start;
  background-color: white;  
  padding: 0 24px;
  padding-bottom: 24px;
  width: 45%;
}

.conference-content a {
  display: block;
  width: max-content;
  text-decoration: none;
  background: #DE3422;
  color: white;
  padding: 16px;
  border-radius: 8px;  
}

.conference-content a:hover {
  text-decoration-line: underline;
}


table{
  width: 100%;
  border-collapse: collapse;  
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;  
  background-color: #73533A;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table td {
  border: solid #E5E5E5;
}