#main {
  text-align: center;
  color: #502516;
  padding: 0 2rem;
  padding-top: 60px;
}

.face {
  width: 50%;
}

.big-news {
  background: white;
  width: 60%;
  padding: 2rem;
  margin: 1rem auto 3rem;
  border-radius: 100px;
}
.locations {
  display: flex;
  text-align: left;
  margin: 1rem 0;
}
.locations > * {
  flex: 1 0;
  margin: 0 1rem;
  background: white;
}
.locations h2 {
  font-size: 1.2rem;
  margin: 1rem;
}
.locations h2 small {
  display: block;
}
.locations .map {
  width: 100%;
  height: 500px;
}
#main article {
  margin: 4rem 0;
}

#main .event-notice {
  border: 2px solid #000;
}

#main .cfp {
  margin-right: -2rem;
  margin-left: -2rem;
  background: #fff;
  padding: 2rem;
}

.button {
  display: block;
  text-decoration: none;
  background: #e87e73;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px
  ;
}
.button:hover {
  background: #c82e53;
}

.conference-content {
  display: flex;
  justify-content: space-between;
}

.conference-content > div {
  text-align: start;
  background-color: white;  
  padding: 0 24px;
  padding-bottom: 24px;
  width: 45%;
}

.conference-content a {
  display: block;
  width: max-content;
  text-decoration: none;
  background: #DE3422;
  color: white;
  padding: 16px;
  border-radius: 8px;  
}

.conference-content a:hover {
  text-decoration-line: underline;
}

/* time table */

.time-table {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}
.track {
  width: 1024px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cfp table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
.track div h5 {
  font-size: 1.0em;
  margin: 0;
  margin-bottom: 10px;
}
.track div h5 a {
  color: inherit;
}
.track div p {
  font-size: 0.9em;
  margin: 0;
}

.track table tbody tr th:nth-of-type(1) {
}
.track table tbody tr td:nth-of-type(1) {
  width: 400px;
}
.track table tbody tr th:nth-of-type(2) {
  width: 10px;
}
.track table tbody tr th:nth-of-type(3) {
}
.track table tbody tr td:nth-of-type(1) {
  width: 400px;
}

.track table thead tr th {
  padding: 15px;
  padding-left: 50px;
}
.track table tbody tr th.space {
  background-color: #FFF;
}
.track table tbody tr.break td {
  font-weight: bold;
}
.track table tbody tr th {
  font-size: 0.8em;
  padding: 10px;
  vertical-align: top;
}
.track table tbody tr td {
  padding: 10px;
}

/* track-1 */
.track table thead tr th.track-1 {
  background-color: #E37E67;
  color: #FFF;
}
.track table tbody tr.break .track-1 {
  background-color: #DD7156;
  color: #FFF;
}
.track table tbody tr.break th.track-1 {
  background-color: #BB665C;
}
.track table tbody tr th.track-1 {
  background-color: #F8E9E7;
}

/* track-2 */
.track table thead tr th.track-2 {
  background-color: #66B794;
  color: #FFF;
}
.track table tbody tr.break .track-2 {
  background-color: #46A17F;
  color: #FFF;
}
.track table tbody tr.break th.track-2 {
  background-color: #438C7D;
}
.track table tbody tr th.track-2 {
  background-color: #D8ECDF;
}

